.cuar-tasklist-task-list {	
	position: relative;
	margin-bottom: @default-padding;
	
	* {
		.box-sizing(border-box);
	}
	
	.cuar-tasklist-wrapper {
		@wp_width: 74%;
		@wp_bg: #fff;
		@nl_bg: #ededed;
		@wp_line_bg: darken(@nl_bg, 5%);
		
		position: relative;
		//background: @nl_bg;
		//border: 1px solid @default-border-color;
		&:extend(.clearfix all);
		
		.write-pad, .cuar-tasklist-list {
			.box-sizing(border-box);
		}
		
		.cuar-tasklist-list {
			float: left;
			width: 100% - @wp_width;			
			margin: 0;
			padding: 0;
			padding-bottom: @base-margin;

			.bullet{
				padding: 0 5px 0 0;
				float: left;
				margin: 0;
				line-height: 1;
				margin-top: 5px;

				input[type="checkbox"]{
					margin: 0;
				}
			}
			
			ul {
				margin: 0;
				padding: 0;
				width: 100%;
				list-style: none;

				li {
					position: relative;
					//padding: @base_margin;
					padding-right: @base-padding;
					padding-bottom: @base-padding;

					&.meta-buttons{
						background: #f5f5f5;
					}

					a:not(.btn) {
						display: block;
						border: 1px solid @wp_line_bg;
						background: @wp_bg;
						padding: @base-padding @default-padding/2;

						strong, span {
							display: block;

							& + strong, & + span {
								padding-top: 8px;
							}
						}

						strong {
							word-break: break-all;
							background: #f5f5f5;
							margin: -@default-padding/2;
							margin-top: -@base-padding;
							margin-bottom: 0;
							padding: @base-padding - 2 @base-padding;
							border-bottom: 1px solid @wp_line_bg;
							font-size: @font-size-base - 1;
							line-height: ( @font-size-base - 1 ) * 2;

							@media screen and (max-width: @screen-sm){
								margin-bottom: -@base-padding;
								border-bottom: 0;
							}
						}

						span {
							.text-overflow();
							font-size: @font-size-small;
						}

						em {
							float: right;
						}

						&:hover {
							background: #f5f5f5 !important;
							border-color: darken(@wp_line_bg, 5%);

							span, strong {
								color: @text_color_light;
							}
						}
					}

					.note-close {
						position: absolute;
						right: 1px + @base-padding;
						top: 1px;
						border: none;
						background: none;
						outline: none;
						background: #f5f5f5;
						border: 1px solid @wp_line_bg;
						border-top: 0;
						border-right: 0;
						.opacity(0);
					}

					.cuar-task-date-form{
						padding: @base-padding;
						background: #F5F5F5;
						border-left: 1px solid @wp_line_bg;
						border-bottom: 1px solid @wp_line_bg;
						border-right: 1px solid @wp_line_bg;
						display: none;
					}

					&:hover .note-close{
						.opacity(1);
					}

					.cuar-task-list-content {
						display: none;
					}

					&.current {

						a:not(.btn) {
							background: #fff;
						}

						.cuar-task-date-form{
							display: block;
						}
					}
				}

				li + .no-notes {
					display: none;
				}

				li.cuar-tasklist-metas{
					> a{
						padding-bottom: 0;
					}
				}
			}
		}
		
		.write-pad {
			float: right;
			width: @wp_width;
			background: @wp_bg;
			position: relative;
							
			&:after {
				display: block;
				content: '';
				position: absolute;
				left: 95px;
				top: 0;
				bottom: 0;
				background: #f9d4d1;
				width: 1px;
			}
			
			textarea {
				background: transparent;
				border: none;
				background: url(images/notes-lines.png) left top;
				background-attachment: local;
				min-height: 780px;
				font: 14px/52px @font-family-sans-serif, serif;
				border: 1px solid @default-border-color;
				max-height: 1500px;
				padding-left: 125px;
				padding-right: 50px;
				
				&::-webkit-scrollbar {
			            width: 5px;
			    }
			    &::-webkit-scrollbar-track {
			            width: 5px;
			            background-color: darken(@nl_bg, 5%);
			    }
			    &::-webkit-scrollbar-thumb {
			            background-color: darken(#ebebeb, 18%);
			    }
			}
		}
	}
	
	& + footer.main {
		border-top: 0;
		padding-top: @base_padding;
	}
}



// Medium Screens
@media (max-width: @screen-md-min) {

	.cuar-tasklist-task-list {
		
		.cuar-tasklist-wrapper {
			@wp_width: 65%;
			
			.cuar-tasklist-list {
				width: 100% - @wp_width;
			}
		
			.write-pad {
				width: @wp_width;
				
				textarea {
					padding-left: 50px;
				}
				
				&:after {
					left: 35px;
				}
			}
		}
	}
}

// Small Screens
@media (max-width: @screen-sm-min) {
	
	body .cuar-tasklist-task-list {
		
		.cuar-tasklist-wrapper {
			@wp_width: 100%;
			
			.cuar-tasklist-list, .write-pad {
				width: 100%;
				float: none;
			}
			
			.cuar-tasklist-list {
				padding-bottom: @base_padding;
				
				li {
					padding: 0;
					padding-top: @base_padding;
					padding-bottom: 0;
					
					a {
						span {
							display: none;
						}
					}
					
					.note-close {
						right: 1px;
						top: @base-padding + 1;
					}
				}
			}
			
			.write-pad {
				
				textarea {
					min-height: 400px; 
					max-height: 600px; 
				}
			}
		}
	}
}

// Tasklist info in the single post footer
// --------------------------------------------------

.cuar-single-post-footer.cuar-tasklist {
	.content-meta {
		.author, .owner, .date {
				.make-sm-column(4);
				.make-xs-column(12);
		}
	}
	
	.project-progress {
			.make-xs-column(12);
	}
}

// List of task within a task list single post
// --------------------------------------------------

.cuar-tasklist-task-list {
	
		margin-top: 20px;
		
	.cuar-task {
			position: relative;
		
		.description {
			p:last-child {
					margin-bottom: 10px;
			}
		}
		
		.footer {
				opacity: 0.8;
				font-style: italic;
				font-size: 80%;
				
			.dashicons, .dashicons-before:before {
					width: 15px;
					height: 15px;
					font-size: 15px;
			}
		}
		
		&.completed {
			.description {
					opacity: 0.8;
					text-decoration: line-through;
			}
		}
	}
}

// Add a task with AJAX
// --------------------------------------------------

.cuar-tasklist-task-list {
	.cuar-task.cuar-task-editable {
		.panel, .panel:hover {
			padding: 0;
		}
		
		.cuar-header {
				position: relative;
				padding: 15px;
			.cuar-title {
			}
			.cuar-actions {
					position: absolute;
					right: 15px;		
					top: 15px;
			}
		}
		
		.cuar-content {
				padding: 15px;
				border-top: 1px solid #ddd;
				border-right: 1px solid #ddd;
				background: #fafafa;
				
			.cuar-left {
					float: left; 
					width: 60%;				
			}
			.cuar-right {
					float: left; 
					width: 35%;		
					margin-left: 4%;				
			}
		}
		
		.cuar-check-task {
				margin: 10px;
		}
		
		.btn-update-task {
			margin-top: 15px;
		}
		
		.cuar-round-button {	
				display: inline-block;
				.square(26px);		
				.img-rounded;
				margin-left: 5px;
				color: #333;
				background: #efefef;
				padding: 3px;
			&:hover {
				background: #d0d0d0;
			}
		}
	}
}

.cuar-form.cuar-add-task-form {
	.control-container {
			width: 100%;
			margin: 0;
	}
	
	.save-task {
		margin-top: 45px;
	}
} 